{{template "header" .}}
<body>
  <form method="POSt" action="/todo">
    <input type="hidden" id="removeId" name="removeId" />
    <div class="content">
      <h1>{{.PageTitle}}</h1>
      <a href="/todo/create" class="btn btn-dark" role="button">Create</a>
      <hr />
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{range $i, $t := .Todos}}
          <tr>
            <th scope="row">{{inc $i}}</th>
            {{if .IsDone}}
            <td class="text-success">{{.Title}} (Done)</td>
            {{else}}
            <td class="text-danger">{{.Title}}</td>
            {{end}}
            <td>
              <button type="submit" class="btn btn-danger" onclick="setRemoveIndex('{{$i}}')">Remove</button>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </form>
</body>

<script lang="javescript">
  function setRemoveIndex(i) {
      document.getElementById("removeId").value = i;
  }
</script>
